In [1]:
import pandas as pd

from pathlib import Path
import csv

In [2]:
def read_whole_file(csv_path):
    data = pd.read_csv(
    Path(csv_path),
    index_col=False
    )
    
    header = "SETTLEMENT DATE|CUSIP|SYMBOL|QUANTITY (FAILS)|DESCRIPTION|PRICE"
    data[header] = data[header].str.replace('|',',')
    new_data = data.rename(columns={header:'SETTLEMENT_DATE,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE'})
    Header = "Header"
    new_data = data.rename(columns={header:Header})
    
    new_df = pd.DataFrame()
    new_df = new_data.Header.str.split(",",expand=True)
    
    new_df = new_df.rename(columns={0:'Date',1:'CUSIP',2:'SYMBOL',3:'QUANTITY_FAILS',4:'DESCRIPTION',5:'PRICE'})
    return new_df

In [3]:
test_path = Path("Resources/sec_ftd_1.csv")
# df = do_all(test_path)
# df
test_df = read_whole_file(test_path)

C:\Users\watso\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

In [4]:
test_df

,Date,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE,6,7
0,20210816,B38564108,EURN,33389,EURONAV NV ANTWERPEN (BELGIUM),7.75,None,None
1,20210816,C00948106,AGRI,7719,AGRIFORCE GROWING SYS LTD COM,2.89,None,None
2,20210816,D18190898,DB,66551,DEUTSCHE BANK AG NAMEN AKT (DE,12.96,None,None
3,20210816,G0R21B112,ACTDW,495,ARCLIGHT CLEAN TRANSITION CORP,1.12,None,None
4,20210816,G00748114,STWOW,3700,ACON S2 ACQUISITION CORP WT EX,1.39,None,None
...,...,...,...,...,...,...,...,...
67686,20210831,98986M103,ZYXI,3367,ZYNEX,INC. COMMON STOCK (NV),13.38,None
67687,20210831,98986T108,ZNGA,12398,ZYNGA INC CLASS A,8.88,None,None
67688,20210831,98986X109,ZYNE,506,ZYNERBA PHARMACEUTICALS INC CO,4.11,None,None
67689,Trailer record count 67689,None,None,None,None,None,None,None
67690,Trailer total quantity of shares 1978777078,None,None,None,None,None,None,None

In [5]:
gme_CUSIP_number = "36467W109"

In [6]:
df = test_df
#gme_df = df.set_index('Date')

In [9]:
loc_gme_df = df.set_index("CUSIP")
find_gme = loc_gme_df.loc[gme_CUSIP_number]
find_gme

,Date,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE,6,7
CUSIP,,,,,,,
36467W109,20210816,GME,22314,GAMESTOP CORP (HLDG CO) CL A,162.52,None,None
36467W109,20210817,GME,2020,GAMESTOP CORP (HLDG CO) CL A,163.93,None,None
36467W109,20210818,GME,28465,GAMESTOP CORP (HLDG CO) CL A,163.55,None,None
36467W109,20210819,GME,15291,GAMESTOP CORP (HLDG CO) CL A,157.05,None,None
36467W109,20210820,GME,4821,GAMESTOP CORP (HLDG CO) CL A,152.90,None,None
36467W109,20210823,GME,1723,GAMESTOP CORP (HLDG CO) CL A,159.30,None,None
36467W109,20210824,GME,7278,GAMESTOP CORP (HLDG CO) CL A,164.89,None,None
36467W109,20210825,GME,2363,GAMESTOP CORP (HLDG CO) CL A,210.29,None,None
36467W109,20210826,GME,10983,GAMESTOP CORP (HLDG CO) CL A,199.65,None,None
36467W109,20210830,GME,21332,GAMESTOP CORP (HLDG CO) CL A,204.95,None,None
36467W109,20210831,GME,93073,GAMESTOP CORP (HLDG CO) CL A,209.20,None,None

In [15]:
# Date,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE
gme_data = find_gme[['Date','QUANTITY_FAILS','PRICE']]
gme_data.rename(columns={'PRICE':'GME'},inplace=True)
gme_data.set_index('Date',inplace=True)
gme_data

C:\Users\watso\anaconda3\envs\pyvizenv\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         QUANTITY_FAILS     GME
Date
20210816          22314  162.52
20210817           2020  163.93
20210818          28465  163.55
20210819          15291  157.05
20210820           4821  152.90
20210823           1723  159.30
20210824           7278  164.89
20210825           2363  210.29
20210826          10983  199.65
20210830          21332  204.95
20210831          93073  209.20