In [1]:
import pandas as pd

from pathlib import Path
import csv

In [2]:
header = "SETTLEMENT DATE|CUSIP|SYMBOL|QUANTITY (FAILS)|DESCRIPTION|PRICE"

gme_CUSIP_number = "36467W109"
gme_symbol = 'GME'
ftd_path = Path("Resources/sec_ftd_1.csv")

def read_ftd_file(csv_path, cusip_number, symbol):
    data = pd.read_csv(
    Path(csv_path),
    index_col=False
    )
    
    #header = "SETTLEMENT DATE|CUSIP|SYMBOL|QUANTITY (FAILS)|DESCRIPTION|PRICE"
    data[header] = data[header].str.replace('|',',')
    new_data = data.rename(columns={header:'SETTLEMENT_DATE,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE'})
    Header = "Header"
    new_data = data.rename(columns={header:Header})
    
    #new_df = pd.DataFrame()     - not needed apparently 
    new_data = new_data.Header.str.split(",",expand=True)
    new_data = new_data.rename(columns={0:'Date',1:'CUSIP',2:'SYMBOL',3:'QUANTITY_FAILS',4:'DESCRIPTION',5:'PRICE'})
    
    new_data = new_data.set_index("CUSIP")
    new_data = new_data.loc[cusip_number]
    
    new_data = new_data[['Date','QUANTITY_FAILS','PRICE']]
    new_data.rename(columns={'PRICE':symbol},inplace=True)
    new_data.set_index('Date',inplace=True)  
    
    new_data = new_data.reset_index()
    new_data['Date'] = pd.to_datetime(new_data['Date'])
    new_data.set_index('Date',inplace=True)
    new_data = new_data[['QUANTITY_FAILS']]
    new_data.rename(columns={'QUANTITY_FAILS':symbol+'_QUANTITY_FAILS'},inplace=True)
    
    return new_data

def concat_df(df_1,df_2):
    df = pd.concat([df_1,df_2],axis='rows')
    return df

In [3]:
gme_df = read_ftd_file(csv_path=ftd_path,cusip_number=gme_CUSIP_number,symbol=gme_symbol)
gme_df

C:\Users\watso\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  del sys.path[0]

           GME_QUANTITY_FAILS
Date
2021-08-16              22314
2021-08-17               2020
2021-08-18              28465
2021-08-19              15291
2021-08-20               4821
2021-08-23               1723
2021-08-24               7278
2021-08-25               2363
2021-08-26              10983
2021-08-30              21332
2021-08-31              93073

In [4]:
ftd_path_2 = Path('Resources/sec_ftd_2.csv')
gme_df_2 = read_ftd_file(csv_path=ftd_path_2,cusip_number=gme_CUSIP_number,symbol=gme_symbol)
gme_df_2

C:\Users\watso\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  del sys.path[0]

           GME_QUANTITY_FAILS
Date
2021-08-03               3076
2021-08-04              98855
2021-08-05            1316894
2021-08-06             315331
2021-08-09              74406
2021-08-10              74871
2021-08-11               6624
2021-08-12                125
2021-08-13               1227

In [5]:
gme_total = concat_df(gme_df,gme_df_2)
gme_total
# combined_df = pd.concat([total_land_and_house_value,house_value,land_value], axis='columns')
# #combined_df

           GME_QUANTITY_FAILS
Date
2021-08-16              22314
2021-08-17               2020
2021-08-18              28465
2021-08-19              15291
2021-08-20               4821
2021-08-23               1723
2021-08-24               7278
2021-08-25               2363
2021-08-26              10983
2021-08-30              21332
2021-08-31              93073
2021-08-03               3076
2021-08-04              98855
2021-08-05            1316894
2021-08-06             315331
2021-08-09              74406
2021-08-10              74871
2021-08-11               6624
2021-08-12                125
2021-08-13               1227